

.links{
    float:right;
    font-family: "Marvel", sans-serif;
    font-size: 15px;
    font-weight: normal;
    margin: 0 0 7px;
    padding: 0 0 7px;
    text-transform: uppercase;
}    
.myname{
	border-bottom: 5px solid #778899;
    color: #20B2AA;
    font-family: "Marvel", sans-serif;
    font-size: 25px;
    font-weight: normal;
  	margin: 0 0 7px;
    padding: 0 0 7px;
    text-transform: uppercase;
}
.email{ 
    font-size: 15px;
    color:#778899;   
}
a:link {color:#20B2AA;}      /* unvisited link */
a:visited {color:#20B2AA;}  /* visited link */
a:hover {color:#778899;}  /* mouse over link */
a:active {color:#20B2AA;}  /* selected link */

.body {
	color: #262626;
    font-family: "Marvel", sans-serif;
    font-size: 15px;
    background-image:url('http://i.imgur.com/RZVNTW8.jpg');
    background-size:560px 400px;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:bottom left; 
}   
.scroll{
    width:600px;
    height:300px;
    overflow:scroll;
    margin-left: 300px;
    margin-bottom:100px;
}
