
.myname{
	 border-bottom: 5px solid #f0f1e7;
    color: #b2b888;
    font-family: "Marvel", sans-serif;
    font-size: 25px;
    font-weight: normal;
  	margin: 0 0 26px;
    padding: 0 0 24px;
    text-transform: uppercase;
}
.body {
	color: #262626;
    font-family: "Marvel", sans-serif;
    font-size: 15px;
    background-image:url('http://i.imgur.com/nh4t7Iw.jpg');
    background-size:700px 500px;
    background-repeat:no-repeat;
    background-position: bottom left;
}   
.scroll{
    width:600px;
    height:350px;
    overflow:scroll;
    margin:0 auto;
}




